*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
}

.add-table table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 50px auto;
}

.add-table table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.add-table table th,.add-table table td{
    padding: 12px 15px;
}

.add-table button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #009879;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
}