*{
    margin: 0;
    padding: 0;
}

.users table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
}

.users table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.users table th,.users table td{
    padding: 12px 15px;
}

.users button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #009879;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
}